-/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========================================================== */

body {
  background: #f06d06;
  text-align: center;
  font-family: "Montserrat";

}

h1 {
  color: #f06d06;
  text-shadow: black;
  font-size: 20px;
  font-weight: 600;
	margin: 10px 15% 10px 15%;
	padding: 1px 10px 4px 10px;
}

main {

  background: white;
  margin: 10px 15% 10px 15%;
  padding: 1px 10px 4px 10px;
  border-radius: 10px;
}
.frames {
  background: #f06d06;
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
}


main div {
  color: black;
  padding: 0px;
  max-width: 825px;
  margin: 0px;
}
.stuff {
	padding: 5px;
	max-width: 100px;
	margin: 0px;
}

.flex-center {
  display: flex;
  justify-content: center;
}
#sequencer {
  align-content: center;
}
p {
  padding: 5px 0 5px 0;
  margin: 5px 0 5px 0;
  color: #f06d06;
  font-weight: 600;
	font
}
#play {
  width: 50px;
height: 50px;
font-size: 30px;
}
#pianoPanel {
 padding: 0;
 margin: 3px;
 border-radius: 0;
 max-width: 100%;
}

#nonetext {
	padding: 1px 0 1px 0;
	margin: 10px 2px 3px 0;
}
#wave {
	padding: 20px 0 0 65px;
}
#wavetext {
	padding: 5px 0 0px 0;
  margin: 0px 0 0px 0;
}
#play {
		margin: 0px 3px 0px -60px;
		padding: 0 0 0px 0;
}
#none {
	margin: 12px 3px 3px 20px;
}
#selectB {
	margin: 15px 10px 3px 5px;
}
#selectbeat {
	margin: 10px 2px 3px 0px;
}
.transport {
	margin: 10px 0px 0px 100px;
	padding: 0px 0px 0px 0px;
}
#tempo {
	margin-left: 0px;
}
